#leagueLogo{
    width: 50px;
    height: 50px;
}
p,h4{
    font-family: 'Raleway', sans-serif;
    color: goldenrod;
}
.nav-link{
    font-family: 'Raleway', sans-serif;
    color: goldenrod;
}
.scoreSpot{
margin-left: 20%;
}
.scoreArea{
    margin-left: auto;
}

@media only screen and (max-width: 1024px) {
    .scoreSpot{
        margin-left: 20%;
        }
}
@media only screen and (max-width: 991px) {
    .feedbackText{
        display: none;
    }
}


@media only screen and (max-width: 768px) {
    .feedbackText{
        display: none;
    }
}

@media only screen and (max-width: 400px) {
.scoreArea{
    margin-right: 35% !important;
}
#appTitle{
    margin-left: 5% !important;
}
.feedbackText{
    display: none;
}
}

@media only screen and (max-width: 320px) {
    #appTitle{
        margin-right: 50px !important;
}
}